*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.main-div-header-mid{
    background-color: #000000;
    height: 203vh;
}

.main-navbar-div{
    height: 91px;
    background-color: #000000;
}

.main-navbar-styling-logo-and-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-styling{
    width: 165px;
    margin: 0 64.5px;
    padding: 9px 0px;  
}

.anchor-tag-div{
    display: flex;
    gap: 42px;
    font-weight: 100;
    align-items: center;
    margin-right: 69px;
    margin-top: 6px;
}

.anchor-tag-div a {
    text-decoration: none;
    color: #FFFFFF;
    /* color: #000000; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
}

.navbar-button-main-div{
    display: flex;
    align-items: center;
    gap: 14px;
}

.franchise-btn{
    padding: 18px 15.5px;
    border-radius: 30px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 13.5px;
    cursor: pointer;
}

.order-online-btn{
    border-radius: 30px; 
    padding: 12.8px 19.5px;
    background-color: #ED1C24;
    color: #FFFFFF;
    font-size: 14.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
}

.fa-arrow-right{
    background-color: #FFFFFF;
    padding:5px;
    color: #DC3545;
    border-radius: 40px;
    font-weight: 900;
    font-size: 15px;
}

            /* Middle Portion Introduction Styling With Paragraph */

/* Middle To Starting Of Footer Main Container */

.main-container-holds-bd-both-everthing-flexbox-grand-parent{
    padding: 72px 0px;
}

        /* Middle Portion Other Things */

.middle-portion-introduction-para-main-container{
    padding: 72px 26.3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.introduction-heading{
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.paragraph-one, .paragraph-two, .paragraph-three, .paragraph-four{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-bottom: 15px;
}

                /* Restaurant Heading Container Styling */

.starting-heading-paragraph{
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 32px 0px 70px;
    
}

.restaurante-heading{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 24px;
    font-weight: 100;
    text-align: center;
    
}

.welcome-paragraph{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    /* line-height: 21px; */
    letter-spacing: 0.03em;
    /* margin: 0px 32px 0px 70px; */
    color: #ffffffb3;
    margin-bottom: 15px;
}

                /* Bio Data And Picture First */

.bio-data-picture{
    display: flex;
    /* gap: 85px; */
    justify-content: space-around;
}

.heading-one-bio-data{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* font-style: normal;
    line-height: 38px; */
    color: #FFFFFF;
    margin-bottom: 24px;
}

.salt-span-one{
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

/* .bio-data{
    display: flex;
    flex-direction: column;
} */

.paragraph-bio-data-one{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-bottom: 10px;
}

    /* Image Two And Bio Data */

.content-second-middle-portion-bio-data-img{
    display: flex;  
    gap: 30px;
    justify-content: center;
    margin-top: 50px;

}

.saltnpepheading-content-two{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    /* font-style: normal;
    line-height: 38px; */
    color: #FFFFFF;
    margin-bottom: 24px;
}

.span-saltpep-content-two{
    font-weight: 800;
    font-family: "Nunito", sans-serif;
}

.bio-data-paragraph-two{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-bottom: 10px;
}

        /* Heading Styling */

.heading-o-mid-portion-restaurante{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.heading-mid-portion{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.span-o-saltpep{
    font-family: "NUnito", sans-serif;
    font-weight: 800;
}

            /* Islamabad Image heading and content */

.bio-data-img-under-h{
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 85px;
}

.heading-islamabad-con-three{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.saltnpep-span-islamabad{
    font-family: "NUnito", sans-serif;
    font-weight: 800;
}

.paragraph-islamabad-de-con{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-top: 15px;
}

            /* Image and bio data two */
.image-bio-data-two-about{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 65px;
}

.htwo-about{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.faisal-span-salt-pep{
    font-family: "NUnito", sans-serif;
    font-weight: 800;
}

.about-para-manchester, .about-para-two-c{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-top: 10px;
}

            /* Image bio data content three con sal */

.image-bio-data-about-content-three{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
}

/* .bio-data-con-three-de-si{

} */

.bahawalpur-heading-con-si-de{
    font-family: "NUnito", sans-serif;
    font-weight: 800;
}

.hthree-con-tres{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.paragraph-una-por{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-top: 10px;
}

.paragraph-dos-por-mide{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-top: 10px;
}

            /* Heading and para */
.div-container-mid-portion-heading-para-con-si-de{
    /* display: flex;
    justify-content: center; */
    margin: 75px 0px 70px;
    height: 53px;
}

.ht-con-side-mid-pos{
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
}

.saltnpep-express-con-azucar{
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin: 0px 8px 0px 0px;
}

.para-con-si-de-un-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #ffffffb3;
    text-align: center;
    margin-top: 10px;
}

            /* Large Image and bio data */

.image-o-bio-data-si-de-con{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.para-abt-bio-data-one, .para-abt-bio-data-two, .para-abt-bio-data-three, .para-abt-bio-data-four, .para-abt-bio-data-five{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    letter-spacing: 0.05em;
    color: #ffffffb3;
    margin-top: 10px;
}

            /* Heading */
.headin-full{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 28px;
}

.saltnpepalmofooterspanside{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

            /* Images Box Section */
.images-box-sections-second-layer{
    margin: 30px 0px 0px 50px;
}

.express-plaza-image-de-para{
   background-color: #0F0F0F;
   width: 29%;
   padding: 10px 0px 0px;
   border-radius: 8px;
}

.express-plaza-image-de-para-second-layer{
    background-color: #0F0F0F;
    width: 30.5%;
    padding: 10px 0px 0px;
    border-radius: 8px;
}

.saltnpepexpresssidespancon{
    color: #FFFFFF;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.para-one-arwa-heights{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #ffffffb3;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
}

.ph-phone-num{
    color: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    /* margin-bottom: 10px; */
    height: 40px;
}

            /* Heading */

.headin-al-foot-con{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 55px;
}

    /* Image and Bio Data */

.bio-img-en-de-footer{
    margin-top: 92px;
}

.small-gujranwala-abt-sec-de-footer{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.head-d-e-foot-village{
    color: var(--white);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.saltnpep-abt-sec-span-en-de-footer{
    font-size: 32.5px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

.para-loc-dot-abt-sec-rida{
    color: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
}

.second-para-phone-abt-sec-ph{
    color: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    margin-top: 8px;
}

        /* Footer Second Last Ending Styling */

        .footer-second-last-ending-main-div{
            background-color: #000000;
            padding-top: 75px;
            height: 77vh;
        }
        
        .social-feed-heading-styling{
            font-size: 37.5px;
            color: #FFFFFF; 
            display: flex;
            justify-content: center;
            font-weight: 500;
        }
        
        .images-second-last-ending-footer-main-work{
            display: flex;
            justify-content: space-around;
            margin-top: 43px;
        }
        
                /* Footer */
        .footer-work-wr-main-div-flexbox{
            background-color: #0F0F0F;
            padding: 70px 15px 20px 15px;
            display: flex;
            justify-content: space-around;
        }
        
                /* Content One */
        
        .footer-para-content-one{
            /* margin: 0px !important; */
            padding-bottom: 24px;
            margin-top: 20px;
            padding-right: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13.5px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }
        
        .terms-and-policy-para{
            margin: 0px !important;
            padding-bottom: 24px;
            padding-right: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }
        
                /* Content 2 */
        
        .site-links-para{
            color: #FFFFFF;
            margin: 0px !important;
            padding-top: 13px;
            padding-bottom: 24px;
            padding-right: 0px;
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 18.5px;
            line-height: 21px;
            letter-spacing: 0.05em;
        }
        
        .ul-list-cl-wr{
            margin: 0px !important;
            padding-top: 13px;
            padding-bottom: 24px;
            padding-right: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14.5px;
            line-height: 38.5px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
            list-style: none;
        }
        
                    /* Content Three */
        
        .contact-us-para{
            color: #FFFFFF;
            margin: 0px !important;
            padding-top: 13px;
            padding-bottom: 24px;
            padding-right: 0px;
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 18.5px;
            line-height: 21px;
            letter-spacing: 0.05em;
        }
        
        .contact-number-one, .contact-number-two, .contact-number-three, .contact-number-four, .location-email-pk{
            line-height:10px;
            /* padding-right: 0px; */
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }

        .location-email-pk{
            margin-bottom: 10px;
        }

        .contact-number-usman{
            line-height:20px;
            margin-top: 10px;
            /* padding-right: 0px; */
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }

        .contact-number-one{
            margin-bottom: 10px;
        }

        .contact-number-two{
            margin-bottom: 10px;
        }
        
        .location-two-lahore-pakistan{
            margin: 0px !important;
            padding-right: 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }
        
                    /* Content 4 */
        
        .insta-face-twit-images-app-google-main-div{
            display: flex;
            flex-direction: column;
        }
        
        .follow-us-para{
            color: #FFFFFF;
            margin: 0px !important;
            padding-top: 13px;
            padding-bottom: 24px;
            padding-right: 0px;
            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 18.5px;
            line-height: 21px;
            letter-spacing: 0.05em; 
        }
        
        .facebook-anchor{
            display: flex;
            align-items: center;
            margin-right: 8px;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ED1C24;
            color: #fff;
            border-radius: 50px;
            text-decoration: none;
            flex-direction: row;
        }
        
        .insta-anchor{
            display: flex;
            align-items: center;
            margin-right: 8px;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ED1C24;
            color: #fff;
            border-radius: 50px;
            text-decoration: none;
        }
        
        .twitter-anchor{
            display: flex;
            align-items: center;
            margin-right: 8px;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ED1C24;
            color: #fff;
            border-radius: 50px;
            text-decoration: none;
        }
        
        .anchor-tags-font-awesome{
            display: flex;
            gap: 1px;
        }
        
                    /* App And Apple Store Images */
        
        .images-apple-app-store-wr{
            margin-top: 30px;
            cursor: pointer;
            list-style: none;
        }
        
        .apple-store-margin{
            margin-top: 9px;
        }
        
                    /* Big S Image Footer */
        
        .footer-work-wr-main-div-flexbox{
            z-index: 5;
            background-image: url(Simgfooter.webp);
            background-repeat: no-repeat;
            background-position-x: 50px;
            background-position-y: 59px;
        }
        
                        /* Footer Last Container */
            
        .footer-last-para-wr-main-div{
            /* border-top: 1px solid #525252; */
          
            background-color: #0F0F0F;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 20px;
        
         
        }
        .line1{
            border-bottom: 1px solid #525252;
        
        }
        .footer-flex{
            display: flex;
            justify-content: space-between;
            padding: 10px 65px;
        }
        .powered-by-tossdown{
            margin: 0px !important;
            padding-right: 0px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13.5px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
        }
        
        .copyright-symbol-para{
            margin: 0px !important;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13.5px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.7);
            border-top: #525252;
        }
        
        /* .line-width{
            width: 95%;
            display: flex;
            justify-content: center;
            color: #525252;
            background-color: #525252;
        } */
        
        /* .hr-tag-footer{
            color: #4c4c4c;
        } */
        
        /* .hr-div{
            position: absolute;
            width: 96%;
            left: 24px;
            top: 1252.5%;
        } */